<head>
    <title>Register</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

    <style>
        body{
            margin: 30px;
        }
    </style>
  </head>
<body>
    <h2 class="text-uppercase text-center mb-5">Login with you account</h2>
    <div class="form-outline mb-4">
        <input type="email"  class="form-control" placeholder="Your ID"/>

      </div>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Login</button>
      </div>
</body> 
