{% extends "CustomerNavBar/index.html" %}
{% block title %}Plans{% endblock %}

{% block content %}
<div style="margin-left:450px; padding-top:50px; font-size:larger;">
  <a href="/customer/claims" class="nav_link">
    <i class="bx bx-folder nav_icon"></i>
    <span class="nav_name">Claim For Customer</span>
  </a>
  <a href="/customer/DepName" class="nav_link">
    <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
    <span class="nav_name">Claim For Dependant</span>
  </a>

</div>

{% endblock %} 