{% extends "NavBar/customerNavbar.html" %}

{% block title %}Hospitals{% endblock %}

{% block content %}

<body>
  <h1>Hospital</h1>
  <div id="wrapper">
    <table id="keywords" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th><span>Name</span></th>
          <th><span>City</span></th>
          <th><span>Address</span></th>
          <th><span>Phone</span></th>
        </tr>
      </thead>
      <tbody>

        {% for record in hospitals %}
        <tr>
          <td>{{record[0]}} </td>
          <td>{{record[1]}} </td>
          <td>{{record[2]}} </td>
          <td>{{record[3]}} </td>
        </tr>
        {%endfor%}

      </tbody>
    </table>
  </div>
</body>
{% endblock %}