{% extends "CustomerNavBar/index.html" %}
{% block title %}Plans{% endblock %}

{% block content %}

<body>
<section class="container">
<div class=" col-lg-10 mx-auto form p-4">
<form method="post" action="">
  <div class="row-white ">
	<div class="block">
		<div class="col-xs-12 col-sm-6 col-md-3">
				<ul class="pricing p-green">
					<li>
						<img src="http://bread.pp.ua/n/settings_g.svg" alt="">
						<big>Basic</big>
					</li>
					<li>Plan ID: 1</li>
					<li>Partial Cover</li>
					<li>Does not Include Surgeries</li>
					<li>Cover Dependants</li>
					<li>
						<h3>10000</h3>
						<span>per month</span>
					</li>
					<li>
						<button type="submit" name="submit_button" value="basic" >Join Now</button>
					</li>
				</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3">
			<ul class="pricing p-yel">
				<li>
					<img src="http://bread.pp.ua/n/settings_y.svg" alt="">
					<big>Permium</big>
				</li>

				<li>Plan ID: 2</li>
				<li>Partial Cover</li>
				<li>Include Surgeries</li>
				<li>Cover more Dependants</li>
				<li>
					<h3>20000</h3>
					<span>per month</span>
				</li>
				<li>
					<button type="submit" name="submit_button" value="premuim" >Join Now</button>
				</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-3">
			<ul class="pricing p-red">
				<li>
					<img src="http://bread.pp.ua/n/settings_r.svg" alt="">

					<big>Gold</big>
				</li>
				<li>Plan ID: 1</li>
				<li>Full Coverage</li>
				<li>Include Surgeries</li>
				<li>Cover Dependants</li>
				<li>
					<h3>40000</h3>
					<span>per month</span>
				</li>
				<li>
					<button type="submit" name="submit_button" value="gold" >Join Now</button>
				</li>
			</ul>
		</div>
	
	</div><!-- /block -->
  </div><!-- /row -->
</form>
	</div>
  </section>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
{% endblock %} 