<!DOCTYPE html>
<html lang="en">

<head>
  <title>Health</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  
  <link rel = "icon" href = "https://cdn-icons.flaticon.com/png/512/3658/premium/3658653.png?token=exp=1641515032~hmac=8eea6f4bfaccb0589971d02c0cd00961" type = "image/x-icon">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylee.css') }}">

</head>

<body>
  <section class="showcase">
    <header>
      <a  style="text-decoration: none;" href="{{url_for('views.home')}}"><h2 class="logo">Health</h2></a>
      <div class="toggle"></div>
    </header>
    <img src="https://images.pexels.com/photos/269077/pexels-photo-269077.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
    <div class="overlay"></div>
    <div class="text">
      <h2>Healthier</h2> 
      <h4>happens together</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
      <a href="/admin/customer">Admin</a>
      <a href="/register">Customer</a>
    </div>
    <ul class="social">
      <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
      <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>

  </section>
  <div class="menu">
    <ul>
      <li><a href="{{url_for('views.home')}}">Home</a></li>
      <li><a href="{{url_for('views.team')}}">Team</a></li>
      <li><a href="{{url_for('views.register')}}">Register</a></li>
      <li><a href="{{url_for('views.login')}}">Login</a></li>
    </ul>
  </div>


  <!-- Optional JavaScript -->
  <script src="{{ url_for('static', filename='js/mainHome.js') }}"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>