<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}Home{% endblock %}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <link rel = "icon" href = "https://cdn-icons.flaticon.com/png/512/3658/premium/3658653.png?token=exp=1641515032~hmac=8eea6f4bfaccb0589971d02c0cd00961" type = "image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/hospitalStyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleBase.css') }}">
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>

</head>

<!-- <style>
  a:link{
    text-decoration: none!important;
  }
</style> -->
{% block style %}
{% endblock %}

<body id="body-pd">
  {% block Modal %}
  
  {% endblock %}
  <header class="header" id="header">
    <div class="header_toggle">
      <i class="bx bx-menu" id="header-toggle"></i>
    </div>
    <!-- <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div> -->
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} 
    {% if category == 'error' %}
    <div class=" alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button style="float: right;" type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button style="float: right;" type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

  <div class="l-navbar" id="nav-bar">
    <nav class="nav">
      <div>
        <a href="\" class="nav_logo">
          <i class="bx bx-layer nav_logo-icon"></i>
          <span class="nav_logo-name">Health Insurance</span>
        </a>
        <div class="nav_list">
          <a href="/admin/customer" class="nav_link">
            <i class="bx bx-user nav_icon"></i>
            <span class="nav_name">Coustmer</span>
          </a>
          <a href="/admin/claims" class="nav_link">
            <i class="bx bx-grid-alt nav_icon"></i>
            <span class="nav_name">Claims</span>
          </a>
          <a href="/admin/hospitals" class="nav_link">
            <i class="bx bx-message-square-detail nav_icon"></i>
            <span class="nav_name">Hospitals</span>
          </a>
          <a href="/admin/plans" class="nav_link">
            <i class="bx bx-bookmark nav_icon"></i>
            <span class="nav_name">Plans</span>
          </a>
        </div>
      </div>
      <a href="/" class="nav_link">
        <i class="bx bx-log-out nav_icon"></i>
        <span class="nav_name">SignOut</span>
      </a>
    </nav>
  </div>

  <!--Container Main start-->
  <div class="height-100 bg-light">
    {% block content %}{% endblock %}
  </div>
  <!--Container Main end-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/mainBase.js') }}"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  

</body>

</html>