{% extends "NavBar/adminNavbar.html" %}
{% block title %}Insurance Claims{% endblock %}
{% block content %}
<body>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Cost</th>
        <th scope="col">Hospital</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for record in claims %}

      <tr>
        <th>{{record[0]}}</th>
        <td>{{record[1]}}</td>
        <td>{{record[2]}}</td>
        <td>{{record[3]}}</td>
        <td>{{record[4]}}</td>
        <td>{{record[5]}}</td>
        <td>
          {{record[6]}}
  
        </td>
      </tr>

      {%endfor%}

    </tbody>
  </table>
{% endblock %}

        <!-- <form action="{{url_for('update_status', id = claim.id)}}">
            <input type="hidden" name="_method" value="EDIT">
            <input type="submit" value="Edit" class="btn btn-denger" >
          </form> -->