{% extends "NavBar/adminNavbar.html" %}
{% block title %}Insurance Claims{% endblock %}

{% block content %}
<div class="col-md-8">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Claim Id</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{Claims[0]}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Customer Name</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{Claims[1]}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Claim cost</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{Claims[2]}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Description</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{Claims[3]}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Required Hospital</h6>
          </div>
          <div class="col-sm-9 text-secondary">
            {{Claims[4]}}
          </div>
        </div>
        {% if Claims[5] == 1 %}
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Status </h6>
          </div>
          <div class="col-sm-9 text-secondary">
            resolved
          {% else %}
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <h6 class="mb-0">Status </h6>
            </div>
            <div class="col-sm-9 text-secondary">
              unresolved
          {% endif %}
          </div>
        </div>
{% endblock %}
