{% extends "NavBar/adminNavbar.html" %}
{% block title %}Insurance Claims{% endblock %}
{% block content %}

{% block head %}
<style>
.btnWide{
  padding: 8px 170px;
}
</style>
{% endblock %}

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dependent Claims
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{{url_for('views.adminClaimsDependent')}}">Dependent Claims</a>
        <a class="dropdown-item" href="{{url_for('views.adminClaims')}}">Coustmer Claims</a>
    </div>
  </div>
<br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Dependent Name</th>
        <th scope="col">Cost</th>
        <th scope="col">Description</th>
        <th scope="col">Hospital</th>
        <th scope="col">Status</th>
        <th scope="col">Status Action</th>
      </tr>
    </thead>
    <tbody>
      {% for record in claims %}

      <tr>
        <th>{{record[0]}}</th>
        <td>{{record[2]}}</td>
        <td>{{record[3]}}</td>
        <td>{{record[4]}}</td>
        <td>{{record[6]}}</td>
        <td>
          {% if record[7] == 1 %}
          solved
          {% else %}
          resolved
          {% endif %}
        </td>
        <td>
          <form action="{{url_for('views.update_status', id = record[0])}}" method="POST"
            style="display: inline-block;">
            <input type="hidden" name="_method" value="solved">
            <input type="submit" value="solved" class="btn btn-success">
          </form>
          <form action="{{url_for('views.update_status', id = record[0])}}" method="POST"
            style="display: inline-block;">
            <input type="hidden" name="_method" value="resolved">
            <input type="submit" value="resolved" class="btn btn-danger">
          </form>
        </td>

        <td>
        <a href="{{url_for('views.claim_details_dependent', id = record[0])}}" class="btn btn-info">info</a>
        </td>
      </tr>


      {%endfor%}

    </tbody>
  </table>
  {% endblock %}